body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
  color: rgb(20, 18, 18);
  margin: 50px;}

#titulo {
  text-align: center;}

#cabecalho {
  position: fixed;
  text-align: center;
  top: 0;
  left: 42.5%;
  right: 42.5%;}

#minha_foto {
  margin-left: 32.5%;
  margin-top: 8%;
  background-color: yellowgreen;
  padding: 2px;}

.ocultar {
  display: none;
  padding: auto;}

#rodape {
  text-align: center;
  background-color: thistle;
  padding: auto;}

.sbs1 {
  display: inline-block;
  background-color: thistle;
  margin-top: 10%;
  margin-left: 409.5px;
  padding: 30px;
  width: 30%;}

#licoes_aprendidas {
  float: right;}

#licoes_a_aprender {
  float: left;}

.lado-esquerdo {
  float: left;}

.lado-direito {
  float: right;}

h2 {
  text-align: center;}

h3 {
  text-align: center;}

.center {
  display: inline-block;
  background-color: red;
  border: salmon;
  padding: 5px;
  height: 120px;
  width: 400px;}

.boxmodel {
  background-color: rosybrown;
  margin-left: 39.8%;
  margin-bottom: 5px;
  border: royalblue;
  padding: 5px;}
