**{
  margin: 0;
  padding: 0;  
}

.um{
    font-size: 30px; 
    color: #303030;

}
body,p{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif ;
    background-color:rgb(180,200,250);
    color: rgb(30,30,30);
    
}

h4{
    color: rgb(8, 1, 114);
}

.foto1{
    border-radius: 100%;
    float: left;
    background-color: aquamarine;
    padding:2px;
}  

.button{
     color:white;
     background-color:red;
     padding: auto;
     border-radius: 3px;
     text-decoration: none;
}
.naturalidade{
    color: rgb(5, 151, 102);
}

.foto2{
    margin:50%;
} 
.head{
    font-size: 30px;
    margin-top:5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid grey;
    margin-left: 20%;
    margin-right: 20%;
}

.descrição{
    margin: 10%;
}
.medium{
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 30%;
    background-color:#DCDCDC;
    color:black;
    border:
}

.final{
    margin-left:25%;
    max-width:50%;
    margin-bottom: 30%;
}
.sbs{
    margin-top: 10%;
    margin-left:25%;
    max-width: 50%;
    text-align: center;
    vertical-align: center;
    margin-bottom: 15%;
    padding: auto;
    display: inline-block;
    border:1px solid black;
}
